// landing colors
$independence: rgb(86, 82, 100);
$thistle: rgb(212, 197, 226);
$blueGreen: rgb(173, 238, 227);
$aliceBlue: rgb(227, 242, 253);

// mountain colors
$darkBlue: rgb(23, 43, 102);
$bdazzledBlue: rgb(58, 89, 153);
$cosmicLatte: rgb(255, 244, 224);

// beach colors
$pineTree: rgb(46, 64, 65);
$cinerous: rgb(209, 158, 117);
$lemonMeringue: rgb(241, 232, 191);

// trees colors
$jungle: rgb(0, 35, 36);
$nickel: rgb(93, 117, 119);
$gainsboro: rgb(227, 221, 225);