*{padding: 0; margin: 0;}html{font-size: 62.5%;}.wrapper{max-width: 1280px; width: 100%; margin: 0 auto;}ul{list-style: none;}a{text-decoration: none;}img {width: 100%; height: auto; display: block;}

body,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: $independence;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 7rem;
}


