body {
    position: relative;
}

.background {
    background: linear-gradient(0deg, $thistle 0%, $blueGreen 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    text-align: center;
    background-attachment: fixed;
}

// for large displays to fill the screen
.viewHeight {
    min-height: 100vh;
}

// header
header {
    background-image: url(../images/arches.png);
    padding-top: 50px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    text-shadow: 2px 2px $aliceBlue;
    padding-bottom: 20px;
    font-family: 'Caveat', cursive;
    font-size: 7.5rem;
    letter-spacing: 2px;
}

h2 {
    font-style: italic;
    padding-bottom: 40px;
    font-size: 2.8rem;
    letter-spacing: 3px;
}

// main sections
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    padding: 20px 0;
}

// button styles
button {
    text-transform: uppercase;
    width: 16rem;
    padding: 10px;
    cursor: pointer;
    margin: 10px 7px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid $aliceBlue;
}

button:focus,
button:hover {
    background-color: $aliceBlue;
}

// timer 
.timerDisplay {
    display: none;
    padding: 20px;
    margin: 20px auto;
    width: 30%;
    text-shadow: none;
}

.timerDisplay p {
    font-size: 1.5rem;
    padding-top: 15px;
    text-transform: lowercase;
}

.timer {
    text-transform: none;
}

// visualizer
.circleAnimation {
    padding: 30px 0 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.circle { 
    width: 200px;
    height: 200px;
    background-color: $blueGreen;
    border-radius: 50%;
    margin: 0 auto;
    padding: 30px 0;
    animation: circle 10s ease-in-out infinite;
    animation-play-state: paused;
}

// circle animation
@keyframes circle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
        background-color: $independence;
    }

    100% {
        transform: scale(1);
    }
}

audio {
    display: none;
}

// footer
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $aliceBlue;
    opacity: 0.5;
}

footer p {
    text-align: center;
}

a:focus,
a:hover {
    font-weight: bold;
    text-transform: uppercase;
}

a:visited {
    color: inherit;
}