.trees {
    background-image: url(../images/trees.jpg);
}

.trees h1,
.trees h2,
.trees h3 {
    color: $jungle;
}

.trees .backgroundSection {
    background-color: rgba(248, 248, 248, 0.6);
}

.trees button {
    color: $jungle;
    border: 2px solid $gainsboro;
}

.trees button:focus,
.trees button:hover {
    background-color: $gainsboro;
}

.trees .circle {
    background-color: $nickel;
}

.trees footer {
    background-color: $gainsboro;
    opacity: 0.9;
}