html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #565264;
}

body {
  position: relative;
}

.background {
  background: -webkit-gradient(linear, left bottom, left top, from(#d4c5e2), to(#adeee3));
  background: linear-gradient(0deg, #d4c5e2 0%, #adeee3 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  text-align: center;
  background-attachment: fixed;
}

.viewHeight {
  min-height: 100vh;
}

header {
  background-image: url(../images/arches.png);
  padding-top: 50px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  text-shadow: 2px 2px #e3f2fd;
  padding-bottom: 20px;
  font-family: 'Caveat', cursive;
  font-size: 7.5rem;
  letter-spacing: 2px;
}

h2 {
  font-style: italic;
  padding-bottom: 40px;
  font-size: 2.8rem;
  letter-spacing: 3px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section {
  padding: 20px 0;
}

button {
  text-transform: uppercase;
  width: 16rem;
  padding: 10px;
  cursor: pointer;
  margin: 10px 7px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #e3f2fd;
}

button:focus,
button:hover {
  background-color: #e3f2fd;
}

.timerDisplay {
  display: none;
  padding: 20px;
  margin: 20px auto;
  width: 30%;
}

.timerDisplay p {
  font-size: 1.5rem;
  padding-top: 15px;
  text-transform: lowercase;
}

.timer {
  text-transform: none;
}

.circleAnimation {
  padding: 30px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #adeee3;
  border-radius: 50%;
  margin: 0 auto;
  padding: 30px 0;
  -webkit-animation: circle 10s ease-in-out infinite;
          animation: circle 10s ease-in-out infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

audio {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #e3f2fd;
  opacity: 0.5;
}

footer p {
  text-align: center;
  overflow: hidden;
}

a {
  font-weight: 700;
}

a:focus,
a:hover {
  text-transform: uppercase;
}

a:visited {
  color: inherit;
}

.mountains {
  background-image: url(../images/mountains.jpg);
}

.mountains h1,
.mountains h2,
.mountains h3 {
  color: #172b66;
}

.mountains .backgroundSection,
.beach .backgroundSection {
  background-color: rgba(248, 248, 248, 0.5);
}

.mountains button {
  color: #172b66;
  border: 2px solid #fff4e0;
}

.mountains button:focus,
.mountains button:hover {
  background-color: #fff4e0;
}

.mountains .circle {
  background-color: #3a5999;
}

.mountains footer {
  background-color: #fff4e0;
}

.beach {
  background-image: url(../images/beach.jpg);
}

.beach h1,
.beach h2,
.beach h3 {
  color: #2e4041;
}

.beach button {
  color: #172b66;
  border: 2px solid #f1e8bf;
}

.beach button:focus,
.beach button:hover {
  background-color: #f1e8bf;
}

.beach .circle {
  background-color: #d19e75;
}

.beach footer {
  background-color: #f1e8bf;
}

.trees {
  background-image: url(../images/trees.jpg);
}

.trees h1,
.trees h2,
.trees h3 {
  color: #002324;
}

.trees .backgroundSection {
  background-color: rgba(248, 248, 248, 0.6);
}

.trees button {
  color: #002324;
  border: 2px solid #e3dde1;
}

.trees button:focus,
.trees button:hover {
  background-color: #e3dde1;
}

.trees .circle {
  background-color: #5d7577;
}

.trees footer {
  background-color: #e3dde1;
  opacity: 0.9;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  button:hover,
  .mountains button:hover,
  .beach button:hover,
  .trees button:hover {
    background-color: transparent;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .timerDisplay {
    width: 50%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body,
  button {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 2.4rem;
    letter-spacing: 2px;
  }
  button {
    width: 14rem;
  }
  .timerDisplay {
    width: 90%;
  }
}
